@model DevFolio.Models.TblAbout

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@Html.Action("CurrentAboutList", "About")
<br />

<h2>Hakkımda Güncelleme Sayfası</h2>


<form method="post">
    @Html.HiddenFor(x => x.AboutID)

    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" ,@rows=3 })
    <br />

    <button class="btn btn-info">Açıklamayı Güncelle</button>
</form>
