<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="/Profile/ProfileList" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/photo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Profile/ProfileList">Profil</a></li>
            <li><a href="/Feature/FeatureList">Özellikler</a></li>
            <li><a href="/About/AboutList">Hakkımda</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/Service/ServiceList">Hizmetler</a></li>
            <li><a href="/Project/ProjectList">Projeler</a></li>
            <li><a href="/Category/CategoryList">Proje Kategorileri</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslar</a></li>
            <li><a href="/Address/AddressList">İletişim Bilgileri</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medya</a></li>
            <li><a href="/Statistic/Index">İstatistikler</a></li>
            <li><a href="/Admin/AdminList">Adminler</a></li>
            <li><a href="/Default/Index">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır
                <br/>
            </p>
        </div>

    </div>
</nav>
