@model DevFolio.Models.TblProfile

@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Profil Girişi</h2>

@if (ViewBag.num2Addr > 0)
{
    <div style="width:fit-content" class="alert alert-danger">Sadece 1 adet profil girilebilir!</div>
    <a href="/Feature/FeatureList" class="btn btn-info">Geri Dön</a>
}
else
{
<form method="post">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", pattern = "[a-zA-ZğüşıöçĞÜŞİÖÇ ]+", title = "Lütfen sadece harf karakterleri kullanın." })
    <br />

    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", pattern = "[a-zA-ZğüşıöçĞÜŞİÖÇ ]+", title = "Lütfen sadece harf karakterleri kullanın." })
    <br />

    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @required = "" })
    <br />

    <label>Telefon Numarası</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @required = "", pattern = "\\+90[0-9]{10}", title = "Telefon numarası +90 ile başlamalı ve toplamda 12 rakamdan oluşmalıdır." })
    <small>Telefon numarasını +90 ile başlayarak 12 rakamlı olarak giriniz.</small>
    <br />

    <button class="btn btn-info">Profili Kaydet</button>
</form>
}