    <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">@ViewBag.projectCount</p>
                <span class="counter-text">PROJECTS COMPLETED</span>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-fireball"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">@ViewBag.categoryCount</p>
                <span class="counter-text">CATEGORIES CREATED</span>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-power"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">@ViewBag.serviceCount</p>
                <span class="counter-text">SERVICES PRESENTED</span>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-lightbulb"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">@ViewBag.skillCount</p>
                <span class="counter-text">SKILLS IMPROVED</span>
            </div>
        </div>
    </div>



