@model List<DevFolio.Models.TblAbout>

<div class="col-md-6">
    <div class="about-me pt-4 pt-md-0">
        <div class="title-box-2">
            <h5 class="title-left">Hakkımda</h5>
        </div>
        @foreach (var item in Model)
        {
            <p class="lead">@item.Description</p>
        }
    </div>
</div>
