@model DevFolio.Models.TblTestimonial

@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Referans Yorumu Girişi</h2>

@using(Html.BeginForm("CreateTestimonial","Testimonial",FormMethod.Post, new { enctype="multipart/form-data"}))
{ 
<form method="post">
    <label>Referans Adı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Referans Görseli</label>
    <input type="file" class="form-control" name="file"/>
    <br />

    <label>Referans Yorumu</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 3 })

    <button type="submit" class="btn btn-info">Referansı Kaydet</button>
</form>
}