@model DevFolio.Models.TblAdmin
@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Admin Girişi</h2>

<form method="post">

    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />

    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Admini Kaydet</button>

</form>

