@model DevFolio.Models.TblAdmin

@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Admin Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.AdminID)

    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />

    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Admini Güncelle</button>
</form>