@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<DevFolio.Models.TblCategory>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Kategoriler Sayfası</h2>

<table class="table table-bordered">
    <tr class="table table-secondary">
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CategoryName</td>
            <td>@Html.ActionLink("Sil", "DeleteCategory", new { id = item.CategoryID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete it?')" })</td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("CategoryList", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>{ "page-link" }
})

<a href="/Category/CreateCategory" class="btn btn-info">Yeni Kategori Girişi</a>
