@model DevFolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projeyi Güncelle</h2>

@using(Html.BeginForm("UpdateProject","Project",FormMethod.Post, new {enctype= "multipart/form-data"}))
{
<form method="post">
    
    @Html.HiddenFor(x=>x.ProjectID)
    @Html.HiddenFor(x=>x.CreatedDate)

    <label>Proje Adı</label>
    @Html.TextBoxFor(x=>x.Title, new {@class="form-control"})
    <br />

    <label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.TblCategory.CategoryID, (List<SelectListItem>)ViewBag.category, new {@class="form-control"})
    <br />

    <label>Proje Kapak Fotoğrafı</label>
    <input type="file" class="form-control" name="file" />
    <br />

    <button type="submit" class="btn btn-info">Projeyi Güncelle</button>

</form>
}
